@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');

$dark: #3a3538;
$blue: #37598d;
$hell: #d8d3ce;
$grey: #9EABAE;
$transparent-grey: #9EABAEcc;
$transp-hell: #d8d3ce88;

body {
    margin: 0;
    background: linear-gradient(to right, $dark, $dark 1%, $blue 49%, $blue 51%, $dark 99%, $dark);
    background-size: 200%;
    font-family: Poppins, Helvetica, sans-serif;
    animation: bg 10s infinite linear;

    @keyframes bg {
        from {
            background-position: 0%;
        }
        to {
            background-position: 200%;
        }
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        background-color: $transparent-grey;
        width: 100%;
        height: 5rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5em;
        border-bottom: 1px dotted $dark;

        a > img {
            height: 3.5rem;
            border: 1px solid $grey;
            border-radius: 50%;
            box-shadow: 0 0 0.5rem $dark;

            &:hover {
                box-shadow: 0 0 0.75rem $dark;
                animation: rotate 1.5s ease-in-out infinite;

                @keyframes rotate {
                    0% {
                        transform: translateX(1rem) translateY(1rem) scale(1.3) rotateY(0deg);
                    }
                    2% {
                        transform: translateX(1rem) translateY(1rem) rotateY(0deg) scale(1.3)
                    }
                    25% {
                        transform: translateX(1rem) rotateY(-90deg) scale(1.3);
                    }
                    50% {
                        transform: translateX(1rem) translateY(0rem) rotateY(-180deg) scale(1.3);
                    }
                    75% {
                        transform: translateX(1rem) rotateY(-270deg) scale(1.3);
                    }
                    98% {
                        transform: translateX(1rem) translateY(1rem) rotateY(-360deg) scale(1.3)
                    }
                    100% {
                        transform: translateX(1rem) translateY(1rem) rotateY(-360deg) scale(1.3);
                    }
                }
            }
        }

        .h {
            font-weight: bold;
        }

        #desktop-nav {
            display: none;

            @media (min-width: 48em) {
                display: block;

                ul {
                    display: flex;
                    gap: 1.5rem;
                    list-style-type: none;

                    a {
                        display: block;
                        text-decoration: none;
                        font-size: 1.2rem;
                        color: $dark;
                        background-color: $grey;
                        box-shadow: 3px 3px 5px $blue, 4px 4px 2px $hell inset, -5px -5px 5px $transparent-grey inset;
                        padding: 0.25rem 0.5rem;
                        border-radius: 0.5rem;
                        transition: box-shadow 0.25s ease-in-out;

                        &:hover {
                            box-shadow: 3px 3px grey, 4px 4px $hell inset;
                            text-shadow: 0 0 0.125rem $hell;
                        }
                    }
                }
            }
        }

        #mobile-nav {
            display: block;
            position: relative;
            top: 50px;
            left: 50px;
            z-index: 1;
            user-select: none;

            @media (min-width: 48em) {
                display: none;
            }

            a {
                text-decoration: none;
                color: $dark;
                transition: color 0.3s ease;
                display: block;
                width: 100%;
                padding: 0.5rem;
                margin: 0.5rem 0;
                border-bottom: 1px dotted $blue;
            }

            [href$="kontakt.html"] {
                border: none;
            }

            a:hover {
                color: $blue;
            }

            input {
                display: block;
                width: 5rem;
                height: 5rem;
                position: absolute;
                top: -5rem;
                left: -5rem;
                cursor: pointer;
                opacity: 0;   
                z-index: 2;

                &:checked ~ span {
                    opacity: 1;
                    transform: rotate(45deg) translate(0.25rem, 0.25rem);
                    background: $dark;
                }

                &:checked ~ span:nth-last-child(3) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }

                &:checked ~ span:nth-last-child(2) {
                    transform: rotate(-45deg) translate(0, 1px);
                }

                &:checked ~ ul {
                    transform: none;
                }
            }

            span {
                display: block;
                left: -4rem;
                top: -3rem;
                width: 2.5rem;
                height: 0.25rem;
                margin-bottom: 0.6rem;
                position: relative;                
                background: $dark;
                border-radius: 3px;                
                z-index: 1;                
                transform-origin: 6px 0px;                
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),  opacity 0.55s ease;

                &:nth-last-child(2) {            
                  transform-origin: 0% 100%;
                }

                span:first-child {
                    transform-origin: 0% 0%;
                }
            }

            ul {
                background-color: $transparent-grey;
                position: absolute;
                min-width: 300px;
                margin: -6.5rem 0 0 -305px;
                padding: 1rem;
                padding-top: 4rem; 
                background: $grey;
                list-style-type: none; transform-origin: 100% 0%;
                transform: translate(100%, 0); transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

                li {
                    height: 3rem;
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }
    }

    main {
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        min-height: calc(100vh - 9rem);

        @mixin ueberschrift {
            font-weight: normal;
            width: 100%;
            max-width: 80rem;
            height: 8em;
            background-image: url(../bilder/sundown.jpeg);
            background-size: cover;
            background-position: 50% 55%;
            color: $hell;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 1rem;
            letter-spacing: 0.25em;
        }

        > h1 {
            text-shadow: 1px 1px 0.25rem $dark, -1px -1px 0.25rem $dark, -1px 1px 0.25rem $dark, 1px -1px 0.25rem $dark;
            @include ueberschrift;
            
            @media (min-width:60em) {
                height: 10em;
            }
        }

        #banner {
            color: $hell;
            text-align: center;
            padding: 1rem 0;

            h1 {
                font-size: 2.1rem;
                font-weight: normal;
            }

            h2 {
                font-size: 1.2rem;
                font-weight: normal;
            }

            figure {
                width: 65vw;
                aspect-ratio: 4 / 3;
                border: 4px double $hell;
                border-radius: 0.5rem;
                overflow: hidden;
                margin: 1rem auto;

                video {
                    width: 100%;
                }
            }

            @media (min-width: 48em) {
                width: 48em;
                margin: auto;
                display: grid; 
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                align-items: center;

                h1 {
                    grid-row: 1 / 2;
                    grid-column: 1 / 3;
                }

                h2 {
                    grid-row: 2 / 3;
                    grid-column: 1 / 3;
                }

                figure {
                    grid-row: 3 / 4;
                    grid-column: 1 / 2;
                    width: auto;
                }

                p {
                    text-align: start;
                    margin-left: 1rem;
                }
            }
            
        }

        #projects {
            display: grid;
            grid-template-rows: 1fr;
            gap: 0.5rem;
            border-top: 1px dotted $hell;

            h2 {
                color: $hell;
                font-weight: normal;
                font-size: 1.8rem;
                text-align: center;
                margin: 1rem 0;
            }

            section {
                background-color: $grey;
                border-radius: 0.5rem;
                border: 1px dotted $dark;
                padding: 0.5rem 1rem;
                width: 90vw;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3 {
                    text-decoration: dotted 1px underline;
                    font-size: 1.5rem;
                    font-weight: normal;
                }

                a {
                    text-decoration: none;
                    font-size: 1.25rem;
                    color: $dark;
                    background-color: $grey;
                    box-shadow: 3px 3px 5px $blue, 4px 4px 2px $hell inset, -5px -5px 5px $transparent-grey inset;
                    padding: 0.5rem 1rem;
                    margin: 1rem 0;
                    border-radius: 0.5rem;
                    transition: box-shadow 0.25s ease-in-out;

                    &:hover {
                        box-shadow: 3px 3px grey, 4px 4px $hell inset;
                        text-shadow: 0 0 0.125rem $hell;
                    }
                }

                .galerie {
                    width: 100%;
                    display: flex;
                    gap: 0.5rem;
                    justify-content: center;
                    margin: 1rem 0;
                    background-color: $dark;
                    border-radius: 0.25rem;

                    figure {
                        max-height: 15rem;
                        border-radius: 0.25rem;
                        overflow: hidden;
                        cursor: pointer;

                        img {
                            display: block;
                            height: 100%;
                        }
                    }
                }

                p {
                    text-align: justify;
                }
            }
            @media (min-width: 48em) {

                #pr-1, #pr-3 {
                    margin-left: calc((100vw - 40rem) * -1 + 2rem);
                }

                #pr-2{
                    margin-right: calc((100vw - 40rem) * -1 + 2rem);
                }

                #pr-1, #pr-2, #pr-3 {
                    max-width: 40rem;
                }

                figure {
                    height: 25vmin;
                }
            }
        
            @media (min-width:60em) {
                justify-content: center;
                justify-items: center;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;

                #pr-1, #pr-2, #pr-3 {
                    margin: 0;
                    width: 48vw;
                    max-width: 40rem;
                }


                h2 {
                    grid-row: 1 / 2;
                    grid-column: 1 / 3;
                }

                #pr-3 {
                    grid-row: 3 / 4;
                    grid-column: 1 / 3;
                }
            }    
        }

        #galerie {
            width: 100%;
            color: $hell;
            
            p{
                background-color: $transparent-grey;
                width: 100%;
                color: $dark;
                padding: 1rem;
                text-align: center;

                @media (min-width: 60em) {
                    margin: 1rem 0;
                    border-radius: 0.5rem;
                }
            }

            h2 {
                font-weight: normal;
                text-align: center;
                margin: 1rem auto;
                width: 70%;
                border-bottom: 1px dotted $hell;
                letter-spacing: 0.25rem;
            }

            #tattoo {
                width: 100%;
                
                h3 {
                    font-weight: normal;
                    margin: 1.5rem auto 1rem auto;
                    text-align: center;
                }

                figure {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }


                @media (min-width:60em) {

                    .galerie {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        border-bottom: 1px dotted $hell;
                    }
                
                    figure {
                        width: 20%;
                        aspect-ratio: 1;
                        background-color: $dark;
                        margin: 1rem;
                        border: 1px solid $grey;
                        
                        img {
                        max-height: 100%;
                        max-width: 100%;
                        object-fit: scale-down;
                        }

                        &:hover {
                        transform: scale(3.5);
                        transition: transform 1.5s ease-in-out;
                        }
                        &:nth-child(4n + 1) {
                        transform-origin: left;
                        }
                        &:nth-child(4n + 4) {
                        transform-origin: right;
                        }
                    }
                }    

                @media (max-width:60em) {

                    .galerie {
                        width: 98vw;
                        height: 90vh;
                        scroll-snap-type: x mandatory;
                        overflow-x: scroll;
                        display: flex;
                        align-items: center;
                        margin: 1em auto;

                        figure {
                            margin: 0;
                            padding: 0;
                            flex: none;
                            width: 98vw;
                            height: 100%;
                            background-color: $dark;
                            scroll-snap-align: start;

                            img {
                                max-height: 100%;
                                max-width: 100%;
                                object-fit: scale-down;
                            }
                        }
                    }
                }
            }
        }

        #kontakt {
            background-color: $transparent-grey;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: $dark;
                font-weight: normal;
                margin: 1rem;
                width: 70%;
                text-align: center;
                border-bottom: 1px dotted $dark;
            }

            p {
                font-size: 1.25rem;
                line-height: 3.5rem;
                color: $dark;
                width: 25ch;

                a {
                    text-decoration: none;
                    color: $dark;
                    margin-left: 0.5rem;

                    &:hover {
                        color: $blue;
                        text-shadow: 0 0 0.25rem $hell;
                    }
                }

                i {
                    font-size: 2rem;
                    color: $blue;
                }
            }

            @media (min-width: 60em) {
                margin-top: 1rem;
                border-radius: 0.5rem;
            }
        }

        form {
            width: 100%;

            h2 {
                color: $hell;
                font-weight: normal;
                margin: 1rem auto;
                text-align: center;
                border-bottom: 1px dotted $hell;
                width: 70%;
            }

            label {
                color: $hell;
                padding-top: 0.75rem;
            }

            label, input:not([value="Senden"]), textarea {
                display: block;
                width: 95%;
                max-width: 500px;
                margin: 0.25rem auto;

                @media (min-width: 60em) {
                    max-width: 700px;
                }
            }

            input:not([value="Senden"]), textarea {
                background-color: $transparent-grey;
                border-radius: 0.25rem;
                padding: 0.25rem 0;
                font-family: Poppins, Helvetica, sans-serif;
                border: none;

                &:focus {
                    background-color: $hell;
                    outline: 3px solid $grey;
                }
            }

            [value="Senden"] {
                font-family: Helvetica, sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
                color: $blue;
                background-color: $grey;
                padding: 0.75rem 1.5rem;
                margin-top: 1rem;
                margin-left: 2.5%;
                border: none;
                cursor: pointer;
                box-shadow: 3px 3px 5px $dark, 4px 4px 2px $hell inset, -5px -5px 5px $transp-hell inset;
                border-radius: 1rem;

                &:hover {
                    box-shadow: 1px 1px 4px black inset, 4px 4px 2px $hell inset;
                    text-shadow: 0 0 0.25rem $hell;
                    color: $dark;
                }

                @media (min-width:524px) {
                    margin: 1rem 0 1rem calc((100% - 500px) / 2);
                }
            }

            @media (min-width: 60em) {

                input:not([value="Senden"]), textarea, label, [value="Senden"] {
                    margin-left: 15%;
                }
            }
        }
    }

    aside > a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: $dark;
        background-color: $transp-hell;
        line-height: 3rem;
        text-align: center;
        margin-top: 2rem;
        transition: transform 0.2s ease-in-out;

        &:hover {
            color: $blue;
            transform: translateY(-5px);
        }
    }

    footer {
        color: $hell;
        background-color: $dark;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 4rem;
        padding: 0 0.5rem;

        p {
            display: flex;
            align-items: center;

            img {
                height: 3rem;
                border: 1px solid $grey;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
        }

        section {
            display: flex;
            gap: 1rem;
            align-items: center;

            a {
                display: flex;
                
                img {
                    height: 3rem;
                }
            }
        }
    }
}

